<footer class="border border-3 border-bottom-0 border-start-0 border-end-0 border-primary">
	<div class="container">
    <div class="py-7 py-lg-8 text-center">© 7TAO七逃. All Rights Reserved</div>
  </div>
</footer>
