<header class="border-bottom border-primary border-2">
	<nav class="navbar navbar-expand-lg py-3 py-lg-7">
		<div class="container">
			<div class="d-flex align-items-center gap-7 gap-lg-11">
				<a class="navbar-brand d-flex align-items-center gap-5" href="./index.html">
					<svg
						class="logo-image"
						width="53"
						height="53"
						viewBox="0 0 53 53"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect x="1" y="1" width="51" height="51" fill="#FBFF22" stroke="#030303" stroke-width="2" />
						<g clip-path="url(#clip0_200_3008)">
							<path
								d="M40.1917 26.5C40.1917 26.5 39.0257 26.7208 36.8394 26.9417C34.6532 27.1625 31.4511 27.3833 27.3834 27.3833C27.3834 35.5188 26.5 40.1917 26.5 40.1917C26.5 40.1917 26.2792 39.0257 26.0584 36.8394C25.8375 34.6532 25.6167 31.4511 25.6167 27.3833C17.4812 27.3833 12.8083 26.5 12.8083 26.5C12.8083 26.5 13.9743 26.2792 16.1606 26.0583C18.3468 25.8375 21.5489 25.6167 25.6167 25.6167C25.6167 17.4812 26.5 12.8083 26.5 12.8083C26.5 12.8083 27.3834 17.4812 27.3834 25.6167C35.5189 25.6167 40.1917 26.5 40.1917 26.5Z"
								fill="#030303"
							/>
							<path
								d="M27.3833 24.7333C30.0333 21.2 32.6833 20.3167 32.6833 20.3167C31.5448 22.3366 30.0482 24.1325 28.2666 25.6167"
								fill="#030303"
							/>
							<path
								d="M24.7333 25.6167C21.2 22.9667 20.3167 20.3167 20.3167 20.3167C22.3366 21.4552 24.1325 22.9518 25.6167 24.7333"
								fill="#030303"
							/>
							<path
								d="M25.6167 28.2666C22.9667 31.8 20.3167 32.6833 20.3167 32.6833C21.4552 30.6633 22.9518 28.8674 24.7333 27.3833"
								fill="#030303"
							/>
							<path
								d="M28.2666 27.3833C31.8 30.0333 32.6833 32.6833 32.6833 32.6833C30.6633 31.5448 28.8674 30.0482 27.3833 28.2666"
								fill="#030303"
							/>
							<path
								d="M26.5001 28.7083C27.7197 28.7083 28.7084 27.7196 28.7084 26.5C28.7084 25.2804 27.7197 24.2917 26.5001 24.2917C25.2805 24.2917 24.2917 25.2804 24.2917 26.5C24.2917 27.7196 25.2805 28.7083 26.5001 28.7083Z"
								fill="#030303"
							/>
						</g>
						<defs>
							<clipPath id="clip0_200_3008">
								<rect width="28.2667" height="28.2667" fill="white" transform="translate(12.3667 12.3666)" />
							</clipPath>
						</defs>
					</svg>
					<div class="d-none d-lg-flex align-items-center gap-1">
            <span class="d-block lh-1 h2">7TAO</span>
            <span class="h6 noto-tc-serif d-block lh-base">活動訂票網</span>
          </div>
				</a>
				<form class="d-flex border border-2 border-dark mw-207p mw-sm-100 min-vw-lg-335p" role="search">
					<input class="form-control border-0" type="search" placeholder="探索活動" aria-label="探索活動" />
					<button class="search border-0 p-0 bg-dark min-vh-40p min-vh-lg-50p min-vw-40p min-vw-lg-50p" type="submit"><i class="icofont-search-1 text-warning"></i></button>
				</form>
			</div>

			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="offcanvas"
				data-bs-target="#toggleMenuDiv"
				aria-controls="toggleMenuDiv"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end w-100 w-lg-auto border-start-0" tabindex="-1" id="toggleMenuDiv" aria-labelledby="toggleMenu">
				<div class="offcanvas-header">
					<!-- <h5 class="offcanvas-title" id="toggleMenu">Offcanvas</h5> -->
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body d-flex align-items-center">
					<ul class="navbar-nav justify-content-end flex-grow-1">
						<!-- <li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li> -->
						<li class="nav-item text-center mb-8 mb-lg-0">
							<a class="nav-link text-uppercase fs-32 fs-lg-16" href="#"><span class="pe-1"><i class="icofont-ui-file"></i></span>register</a>
						</li>
						<li class="nav-item text-center mb-8 mb-lg-0">
							<a class="nav-link text-uppercase fs-32 fs-lg-16" href="./login.html"><span class="pe-1"><i class="icofont-ui-user"></i></span>login</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
