<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Details</title>
    <link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="event-details pt-5 pt-lg-8">
      <div class="container">
        <div class="row g-2 g-lg-7">
          <div class="col-lg-10">
            <div class="p-3 p-lg-7 border border-primary border-3">
              <img src="../assets/images/event/09.jpg" class="w-100 h-100 object-fit-cover mh-550p" alt="">
            </div>
          </div>
          <div class="col col-lg-2">
            <div class="row h-lg-100 flex-lg-column g-2 g-lg-7">
              <div class="col-4 col-lg-auto">
                <div class="border border-primary border-3 py-7 py-lg-8 px-5 px-lg-10 fs-24 fs-lg-48 lh-1">2023</div>
              </div>
              <div class="col-8 col-lg-auto flex-grow-1">
                <div class="d-flex flex-lg-column justify-content-center align-items-center border border-primary border-3 py-3 py-lg-11 px-7 px-lg-10 h-100">
                  <div class="fs-22 fs-lg-48 lh-1 text-uppercase text-center">may<br>19</div>
                  <div class="stock"></div>
                  <div>12:00<br>20:00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>


    <script type="module" src="../main.js"></script>
  </body>
</html>
