<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>index</title>
		<link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<section class="heros">
			<div class="container"></div>
		</section>

		<section class="catalogue mb-8 mb-lg-11">
			<div class="container">
				<div class="row row-cols-3 row-cols-md-6 g-2 g-lg-7">
					<div class="col">
						<a
							href="#"
							class="d-flex justify-content-center align-items-center h-100 w-100 ratio ratio-1x1 border border-2 border-dark p-lg-5"
						>
							<span class="d-flex flex-column align-items-center">
								<span class="d-block mb-2 mb-lg-3"
									><img class="w-40 w-lg-80" src="../assets/images/home/cate01.svg" alt=""
								/></span>
								<span class="fs-16 fs-lg-24 lh-base lh-lg-1 fw-bold text-primary">演出</span>
							</span>
						</a>
					</div>
					<div class="col">
						<a
							href="#"
							class="d-flex justify-content-center align-items-center h-100 w-100 ratio ratio-1x1 border border-2 border-dark p-lg-5"
						>
							<span class="d-flex flex-column align-items-center">
								<span class="d-block mb-2 mb-lg-3"
									><img class="w-40 w-lg-80" src="../assets/images/home/cate02.svg" alt=""
								/></span>
								<span class="fs-16 fs-lg-24 lh-base lh-lg-1 fw-bold text-primary">演出</span>
							</span>
						</a>
					</div>
					<div class="col">
						<a
							href="#"
							class="d-flex justify-content-center align-items-center h-100 w-100 ratio ratio-1x1 border border-2 border-dark p-lg-5"
						>
							<span class="d-flex flex-column align-items-center">
								<span class="d-block mb-2 mb-lg-3"
									><img class="w-40 w-lg-80" src="../assets/images/home/cate03.svg" alt=""
								/></span>
								<span class="fs-16 fs-lg-24 lh-base lh-lg-1 fw-bold text-primary">演出</span>
							</span>
						</a>
					</div>
					<div class="col">
						<a
							href="#"
							class="d-flex justify-content-center align-items-center h-100 w-100 ratio ratio-1x1 border border-2 border-dark p-lg-5"
						>
							<span class="d-flex flex-column align-items-center">
								<span class="d-block mb-2 mb-lg-3"
									><img class="w-40 w-lg-80" src="../assets/images/home/cate04.svg" alt=""
								/></span>
								<span class="fs-16 fs-lg-24 lh-base lh-lg-1 fw-bold text-primary">演出</span>
							</span>
						</a>
					</div>
					<div class="col">
						<a
							href="#"
							class="d-flex justify-content-center align-items-center h-100 w-100 ratio ratio-1x1 border border-2 border-dark p-lg-5"
						>
							<span class="d-flex flex-column align-items-center">
								<span class="d-block mb-2 mb-lg-3"
									><img class="w-40 w-lg-80" src="../assets/images/home/cate05.svg" alt=""
								/></span>
								<span class="fs-16 fs-lg-24 lh-base lh-lg-1 fw-bold text-primary">演出</span>
							</span>
						</a>
					</div>
					<div class="col">
						<a
							href="#"
							class="d-flex justify-content-center align-items-center h-100 w-100 ratio ratio-1x1 border border-2 border-dark p-lg-5 bg-primary"
						>
							<span class="d-flex flex-column align-items-center">
								<span class="fs-24 fs-lg-48 lh-sm fw-bold text-warning">探索<br />更多</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="recent mb-8 mb-lg-12">
			<div class="container">
				<div
					class="d-flex justify-content-between align-items-center py-5 py-lg-7 px-3 px-lg-8 mb-7 mb-lg-8 border border-3 border-primary"
				>
					<h2 class="fs-24 fs-lg-1 lh-1 text-uppercase">recent</h2>
					<h3 class="fs-16 fs-lg-32">近期活動</h3>
				</div>
				<div class="row row-cols-1 row-cols-lg-3 g-7 gx-lg-7 gy-lg-11">
					<div class="col">
						<div class="card h-100">
							<div class="fs-32 fs-lg-48 pb-2 pb-lg-3 mb-5 mb-lg-3 border-3 border-bottom border-primary lh-1">19 MAY 2025</div>
							<img src="../assets/images/event/01.jpg" class="card-img-top mh-210p mh-lg-255p h-100 object-fit-cover" alt="" />
							<div class="card-body pt-2 pt-lg-3 pb-5">
								<div class="card-title fs-18 fs-lg-24 fw-bold">邪典電影派對——房間</div>
								<p class="card-text line-clamp line-clamp-3">
									你有聽說過「大災難家」裡面的主角 Tommy Wiseau
									製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
								</p>
							</div>
							<div class="d-flex justify-content-between align-items-center py-2 py-lg-3 border border-2 border-primary border-start-0 border-end-0">
								<a href="#" class="card-footer-index position-relative fw-bold">社群活動</a>
								<a href="#" class="card-footer-details position-relative fw-bold d-flex align-items-center">開賣中</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100">
							<div class="fs-32 fs-lg-48 pb-2 pb-lg-3 mb-5 mb-lg-3 border-3 border-bottom border-primary lh-1">23 MAY 2023</div>
							<img src="../assets/images/event/02.jpg" class="card-img-top mh-210p mh-lg-255p h-100 object-fit-cover" alt="" />
							<div class="card-body pt-2 pt-lg-3 pb-5">
								<div class="card-title fs-18 fs-lg-24 fw-bold">怪舞俱樂部</div>
								<p class="card-text line-clamp line-clamp-3">
									覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的
								</p>
							</div>
							<div class="d-flex justify-content-between align-items-center py-2 py-lg-3 border border-2 border-primary border-start-0 border-end-0">
								<a href="#" class="card-footer-index position-relative fw-bold">演出</a>
								<a href="#" class="card-footer-details position-relative fw-bold d-flex align-items-center">檢視活動</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100">
							<div class="fs-32 fs-lg-48 pb-2 pb-lg-3 mb-5 mb-lg-3 border-3 border-bottom border-primary lh-1">30 MAY 2023</div>
							<img src="../assets/images/event/03.jpg" class="card-img-top mh-210p mh-lg-255p h-100 object-fit-cover" alt="" />
							<div class="card-body pt-2 pt-lg-3 pb-5">
								<div class="card-title fs-18 fs-lg-24 fw-bold">哈利波特馬拉松</div>
								<p class="card-text line-clamp line-clamp-3">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖</p>
							</div>
							<div class="d-flex justify-content-between align-items-center py-2 py-lg-3 border border-2 border-primary border-start-0 border-end-0">
								<a href="#" class="card-footer-index position-relative fw-bold">聯誼</a>
								<a href="#" class="card-footer-details position-relative fw-bold d-flex align-items-center">開賣中</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100">
							<div class="fs-32 fs-lg-48 pb-2 pb-lg-3 mb-5 mb-lg-3 border-3 border-bottom border-primary lh-1">12 June 2023</div>
							<img src="../assets/images/event/04.jpg" class="card-img-top mh-210p mh-lg-255p h-100 object-fit-cover" alt="" />
							<div class="card-body pt-2 pt-lg-3 pb-5">
								<div class="card-title fs-18 fs-lg-24 fw-bold">皮卡丘排球大賽</div>
								<p class="card-text line-clamp line-clamp-3">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己</p>
							</div>
							<div class="d-flex justify-content-between align-items-center py-2 py-lg-3 border border-2 border-primary border-start-0 border-end-0">
								<a href="#" class="card-footer-index position-relative fw-bold">遊戲競賽</a>
								<a href="#" class="card-footer-details position-relative fw-bold d-flex align-items-center">開賣中</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100">
							<div class="fs-32 fs-lg-48 pb-2 pb-lg-3 mb-5 mb-lg-3 border-3 border-bottom border-primary lh-1">19 MAY 2025</div>
							<img src="../assets/images/event/05.jpg" class="card-img-top mh-210p mh-lg-255p h-100 object-fit-cover" alt="" />
							<div class="card-body pt-2 pt-lg-3 pb-5">
								<div class="card-title fs-18 fs-lg-24 fw-bold">邪典電影派對——房間</div>
								<p class="card-text line-clamp line-clamp-3">
									你有聽說過「大災難家」裡面的主角 Tommy Wiseau
									製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
								</p>
							</div>
							<div class="d-flex justify-content-between align-items-center py-2 py-lg-3 border border-2 border-primary border-start-0 border-end-0">
								<a href="#" class="card-footer-index position-relative fw-bold">社群活動</a>
								<a href="#" class="card-footer-details position-relative fw-bold d-flex align-items-center">開賣中</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100">
							<div class="fs-32 fs-lg-48 pb-2 pb-lg-3 mb-5 mb-lg-3 border-3 border-bottom border-primary lh-1">19 MAY 2025</div>
							<img src="../assets/images/event/06.jpg" class="card-img-top mh-210p mh-lg-255p h-100 object-fit-cover" alt="" />
							<div class="card-body pt-2 pt-lg-3 pb-5">
								<div class="card-title fs-18 fs-lg-24 fw-bold">邪典電影派對——房間</div>
								<p class="card-text line-clamp line-clamp-3">
									你有聽說過「大災難家」裡面的主角 Tommy Wiseau
									製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
								</p>
							</div>
							<div class="d-flex justify-content-between align-items-center py-2 py-lg-3 border border-2 border-primary border-start-0 border-end-0">
								<a href="#" class="card-footer-index position-relative fw-bold">社群活動</a>
								<a href="#" class="card-footer-details position-relative fw-bold d-flex align-items-center">開賣中</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="online mb-8 mb-lg-11">
      <div class="container">
        <div
					class="d-flex justify-content-between align-items-center py-5 py-lg-7 px-3 px-lg-8 mb-7 mb-lg-8 border border-3 border-primary"
				>
					<h2 class="fs-24 fs-lg-1 lh-1 text-uppercase">online</h2>
					<h3 class="fs-16 fs-lg-32">線上活動</h3>
				</div>
      </div>
    </section>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
