<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Payment</title>
		<link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<main>
			<div class="pt-7 pb-11 py-lg-12">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 mx-auto">
              <ol class="paymentBar position-relative list-unstyled d-flex justify-content-between mb-7 mb-lg-11">
                <li class="d-flex flex-column align-items-center active">
                  <span class="number d-flex justify-content-center align-items-center fs-16 fs-lg-20 lh-lg-sm  w-48 h-48 border border-1 border-primary mb-1 mb-lg-2">1</span>
                  <span class="fw-bold mb-0">訂單確認</span>
                </li>
                <li class="d-flex flex-column align-items-center">
                  <span class="number d-flex justify-content-center align-items-center fs-16 fs-lg-20 lh-lg-sm  w-48 h-48 border border-1 border-primary mb-1 mb-lg-2">2</span>
                  <span class="fw-bold mb-0">結帳付款</span>
                </li>
                <li class="d-flex flex-column align-items-center">
                  <span class="number d-flex justify-content-center align-items-center fs-16 fs-lg-20 lh-lg-sm  w-48 h-48 border border-1 border-primary mb-1 mb-lg-2">3</span>
                  <span class="fw-bold mb-0">訂購結果</span>
                </li>
              </ol>
              <h2 class="fw-bold fs-lg-3 fs-32 mb-7 mb-lg-8 letter-5">返老還童-制服聯誼</h2>
            </div>
					</div>
				</div>
			</div>
		</main>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
